#nav-tracer {
  transition: color 0.2s ease-in-out, transform 0.5s ease-in-out;
  color: #f4f5fa; /* Warna default */
  text-decoration: none;
}

#nav-tracer:hover {
  color: #4460b5 !important; /* Warna hitam saat hover */
}
